name: Release nightly build

on:
  push:
    tags: [ sanity ]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: write
  packages: write

jobs:

  api:
    name: Nightly API
    runs-on: ubuntu-latest
    env:
      tag: 'ghcr.io/${{ github.repository }}/api:nightly'
    steps:
      - name: Log into GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: "{{defaultContext}}:api"
          push: true
          tags: ${{ env.tag }}

  scraper:
    name: Nightly Scraper
    runs-on: ubuntu-latest
    env:
      tag: 'ghcr.io/${{ github.repository }}/scraper:nightly'
    steps:
      - name: Log into GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: "{{defaultContext}}:scraper"
          push: true
          tags: ${{ env.tag }}

  merge:
    name: Merge to master
    runs-on: ubuntu-latest
    needs: [api, scraper]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT }}

      - name: Merge to master
        run: |
          git config --global user.name "CI/CD"
          git fetch --unshallow || true
          git checkout master
          git merge ${{ github.sha }}
          git push origin master
                
