name: Release

on:
  push:
    branches: [ master ]
    paths: ['!custom_components/**', '!hacs.json']

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.PAT }}

      - name: Log into GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Tag API image
        uses: akhilerm/tag-push-action@v2
        env:
          tag: 'ghcr.io/${{ github.repository }}'
        with:
          src: ${{ env.tag }}/api:nightly  
          dst: ${{ env.tag }}/api:latest

      - name: Tag Scraper image
        uses: akhilerm/tag-push-action@v2
        env:
          tag: 'ghcr.io/${{ github.repository }}'
        with:
          src: ${{ env.tag }}/scraper:nightly  
          dst: ${{ env.tag }}/scraper:latest