name: Run Tests

on:
  push:
    branches: [ develop ]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test-api:
    name: Test API
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Build image
        working-directory: api
        run: docker build -t ghcr.io/${{ github.repository }}-api:nightly .

      - name: Log in to GitHub Container Registry
        run: echo "${{ github.token }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push image
        working-directory: api
        run: docker push ghcr.io/${{ github.repository }}-api:nightly

  test-scraper:
    name: Test Scraper
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Build image
        working-directory: scraper
        run: docker build -t ghcr.io/${{ github.repository }}-scraper:nightly .

      - name: Log in to GitHub Container Registry
        run: echo "${{ github.token }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push image
        working-directory: scraper
        run: docker push ghcr.io/${{ github.repository }}-scraper:nightly

  merge:
    name: Merge to master
    runs-on: ubuntu-latest
    permissions:
      contents: 'write'
    needs: [test-api, test-scraper]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.PAT }}

      - name: Merge to master
        run: |
          git config --global user.name "CI/CD"
          git fetch --unshallow || true
          git checkout master
          git merge ${{ github.sha }}
          git push origin master
                
