name: Run Tests

on:
  push:
    branches: [ develop ]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: write
  packages: write

jobs:
  test-api:
    name: Test API
    runs-on: ubuntu-latest
#    strategy:
#      fail-fast: false
#      matrix:
#        architecture:
#          - amd64
#          - arm64
    env:
      tag: 'ghcr.io/${{ github.repository }}/api:nightly'
    steps:
 #     - uses: actions/checkout@v5

      - name: Log into GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

#      - name: Build image
#        working-directory: api
#        run: docker build --platform linux/${{ matrix.architecture }} -t ${{ env.tag }} .

#      - name: Push image
#        working-directory: api
#        run: docker push ${{ env.tag }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: "{{defaultContext}}:api"
          push: true
          tags: ${{ env.tag }}

  test-scraper:
    name: Test Scraper
    runs-on: ubuntu-latest
    env:
      tag: 'ghcr.io/${{ github.repository }}/scraper:nightly'
    steps:
      - name: Log into GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

#      - name: Build image
#        working-directory: scraper
#        run: docker build --platform linux/${{ matrix.architecture }} -t ${{ env.tag }} .

#      - name: Push image
#        working-directory: scraper
#        run: docker push ${{ env.tag }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: "{{defaultContext}}:scraper"
          push: true
          tags: ${{ env.tag }}

  merge:
    name: Merge to master
    runs-on: ubuntu-latest
    needs: [test-api, test-scraper]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.PAT }}

      - name: Merge to master
        run: |
          git config --global user.name "CI/CD"
          git fetch --unshallow || true
          git checkout master
          git merge ${{ github.sha }}
          git push origin master
                
