name: Run Tests

on:
  push:
    branches: [ develop ]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: HACS validation
      uses: hacs/action@main
      with:
        category: "integration"
        ignore: "brands"

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Create dummy .env file for tests
      run: |
        echo "BVK_USERNAME=dummy_username" > test/.env
        echo "BVK_PASSWORD=dummy_password" >> test/.env

    - name: Run tests
      working-directory: test
      run: python -m unittest test_token_extraction.py test_login_form.py
#test_api.py
#test_consumption.py

  merge:
    name: Merge to master
    runs-on: ubuntu-latest
    permissions:
      contents: 'write'
    needs: [test]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Merge to master
        run: |
          git config --global user.name "CI/CD"
          git fetch --unshallow || true
          git checkout master
          git merge ${{ github.sha }}
          git push origin master
                
