name: Run Tests

on:
  push:
    branches: [ develop ]

jobs:
  test-api:
    name: Test API
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Build image
        working-directory: api
        run: docker build .

  test-scraper:
    name: Test Scraper
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Build image
        working-directory: scraper
        run: docker build .

  merge:
    name: Merge to master
    runs-on: ubuntu-latest
    permissions:
      contents: 'write'
    needs: [test-api, test-scraper]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.PAT }}

      - name: Merge to master
        run: |
          git config --global user.name "CI/CD"
          git fetch --unshallow || true
          git checkout master
          git merge ${{ github.sha }}
          git push origin master
                
